<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Diabetes Predictor">
  <meta name="author" content="Gunjan">
  <meta property="og:image" content="{{ url_for('static', filename='logo1.png') }}">
  <meta name="Keywords" content="Flask, Machine Learning, Deep Learning, Artificial Intelligence, AI, ML, DL, Web Development">
  <meta name="description" content="A Machine Learning and Deep Learning based webapp for Diabetes Prediction.">
  <title>Diabetes Predictor</title>
  <link rel="icon" href="{{ url_for('static', filename='logo1.png') }}" type="image/png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">

  <style>
    .background-form {
      background-image: url("{{ url_for('static', filename='Quotefancy-32011-3840x2160.jpg') }}");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      min-height: 100vh;
    }
    html, body {
      height: 100%;
      margin: 0;
    }
    header {
      height: 50px;
    }
    footer {
      height: 75px;
      background: black;
      color: white;
      text-align: center;
      padding-top: 20px;
    }
    .card {
      border: 1px solid black;
      background-color: rgba(255, 255, 255, 0.7);
      padding: 20px;
      margin-top: 20px;
    }
    .content {
      padding-top: 80px; /* Adjust this value to provide enough space for the heading */
    }
  </style>
</head>
<body class="background-form">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='logo.png') }}" height="60px" width="275px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a href="{{ url_for('home') }}" class="nav-link">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('diabetesPage') }}">Diabetes</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('cancerPage') }}">Breast Cancer</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('kidneyPage') }}">Kidney</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('liverPage') }}">Liver</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid content">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <center><h1>Diabetes Predictor</h1></center>
        <div class="card">
          {% if message %}
            <div class="alert alert-danger">{{ message }}</div>
          {% endif %}

          <form class="form-horizontal" action="{{ url_for('predictPage') }}" method="POST">
            <div class="form-group">
              <label for="pregnancies">Number of Pregnancies</label>
              <input id="pregnancies" class="form-control" type="text" name="pregnancies" placeholder="Number of Pregnancies e.g., 0">
            </div>
            <div class="form-group">
              <label for="glucose">Glucose (mg/dL)</label>
              <input id="glucose" class="form-control" type="text" name="glucose" placeholder="Glucose (mg/dL) e.g., 80">
            </div>
            <div class="form-group">
              <label for="bloodpressure">Blood Pressure (mmHg)</label>
              <input id="bloodpressure" class="form-control" type="text" name="bloodpressure" placeholder="Blood Pressure (mmHg) e.g., 80">
            </div>
            <div class="form-group">
              <label for="skinthickness">Skin Thickness (mm)</label>
              <input id="skinthickness" class="form-control" type="text" name="skinthickness" placeholder="Skin Thickness (mm) e.g., 20">
            </div>
            <div class="form-group">
              <label for="insulin">Insulin Level (IU/mL)</label>
              <input id="insulin" class="form-control" type="text" name="insulin" placeholder="Insulin Level (IU/mL) e.g., 80">
            </div>
            <div class="form-group">
              <label for="bmi">Body Mass Index (BMI)</label>
              <input id="bmi" class="form-control" type="text" name="bmi" placeholder="Body Mass Index (BMI) e.g., 23.1">
            </div>
            <div class="form-group">
              <label for="dpf">Diabetes Pedigree Function (DPF)</label>
              <input id="dpf" class="form-control" type="text" name="dpf" placeholder="Diabetes Pedigree Function (DPF) e.g., 0.52">
            </div>
            <div class="form-group">
              <label for="age">Age (years)</label>
              <input id="age" class="form-control" type="text" name="age" placeholder="Age (years) e.g., 34">
            </div>
            <input type="submit" class="btn btn-info btn-block" value="Predict">
          </form>

        </div>
      </div>
    </div>
  </div>

  <footer>
    <p>&copy; 2024. All rights reserved.</p>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
